.navbar-color {
    background-color: white;
}

.nav-link {
    color: darkgray;
}

.btn-outline-primary {
    color: #5f7ea5;
    border-color: #5f7ea5;
}

.btn-outline-primary:hover {
    background-color: #6b86a9;
    border-color: #6b86a9;
}

.my-title {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 2rem;
}

.my-text {
    font-family: 'Outfit';
    font-weight: 100;
}

.my-footer {
    font-family: 'Outfit';
    color: darkgray;
    font-weight: 100;
    font-size: 0.7rem;
}